#-e /home/fred/Projects/ozwald
-e git+ssh://git@github.com-fredwork-lemmas/FredworkLemmas/ozwald.git@fred-make-footprint-data-envvar-required-2025122901#egg=ozwald
invocate==0.2.1
python-dotenv==1.2.1
